/** Common - Start **/

@import '../../variables.css';

.btn {
	padding: 7px 21px;
	border-color: var(--common-border-color);
	background: var(--background-color);
	color: var(--common-text-color);
	font-size: 18px;
}

.btnBlock {
	width: 100%;
	position: relative;
	white-space: normal;
	display: block;
}

.btn:hover,
.btn:focus,
.btn:hover:focus {
	background: var(--background-color);
	color: var(--common-text-color);
}

.btnPrimary {
	border-color: var(--btn-primary-bg);
	background-color: var(--btn-primary-bg);
	color: var(--white-text);
}

.btnlarge {
	padding: 9px 27px;
}

.btnPrimary:hover,
.btnPrimary:focus,
.btnPrimary:active,
.btnPrimary:active:hover,
.btnPrimary:active:focus {
	border-color: var(--btn-primary-bg-hover);
	background-color: var(--btn-primary-bg-hover);
	color: var(--white-text);
	box-shadow: 0px 8px 11px #31313126;
}

.btnPrimaryBorder {
	border-color: var(--btn-primary-bg);
	color: var(--btn-primary-bg);
	background-color: var(--background-color);
}

.btnPrimaryBorder:hover,
.btnPrimaryBorder:focus,
.btnPrimaryBorder:active,
.btnPrimaryBorder:active:hover,
.btnPrimaryBorder:active:focus {
	border-color: var(--btn-primary-bg-hover);
	color: var(--btn-primary-bg-hover);
	background-color: var(--background-color);
	box-shadow: 0px 8px 11px #31313126;
}

.homeLayoutSearchGrid {
	display: grid;
	grid-template-columns: 280px auto auto;
	align-items: center;
	background-color: var(--background-color);
	padding: 12px 15px;
	border: 1px solid var(--search-input-border);
	border-radius: 6px;
	column-gap: 10px;
}

.searchButton {
	display: flex;
	align-items: center;
	padding: 13px 0px;
	justify-content: center;
	box-shadow: 0px 8px 11px #31313126;
	font-size: 18px;
	border-radius: 6px;
}

.rightBorder {
	position: relative;
}

.rightBorder::after {
	content: '';
	position: absolute;
	width: 1px;
	height: 45px;
	background: var(--common-border-color);
	right: 0px;
	top: 4px;
}

.loadfield {
	width: 100%;
	border: 0 !important;
	box-shadow: none !important;
	padding: 0 !important;
	-webkit-transition: border 0.2s, box-shadow 0.2s;
	transition: border 0.2s, box-shadow 0.2s;
	background: transparent !important;
	overflow: hidden;
	word-break: break-word;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding-right: 50px !important;
	position: relative;
	height: 22px;
	font-size: 16px;
	font-weight: 400;
	color: var(--modalText-color);
}

.textTop {
	position: relative;
	top: -1px;
}

.iconFontSize {
	font-size: 14px;
	min-width: 14px;
}

@media screen and (max-width: 767px) {
	.rightBorder::after {
		display: none;
	}

	.homeLayoutSearchGrid {
		grid-template-columns: 100%;
	}

	.searchButton {
		margin-top: 27px;
	}

	.rightBorder {
		border-bottom: 1px solid var(--common-border-color);
		padding-bottom: 15px;
		margin-bottom: 15px;
	}
}

/** Search Form - End **/