@import '../common.css';
@import '../../variables.css';

.bookItMessage {
  overflow: hidden;
  display: block;
  position: relative;
  border-top:1px solid var(--border-color);
  padding-top:12px;
  margin-top: 12px;
}
@media screen and (max-width: 767px) {
.mobileTextSize{
  font-size: 16px;
}
}